.projects {
	.project {
		width: 100%;

		& > * {
			display: inline-block;
		}
		& > a {
			font-size: 1.5em;
			max-width: 25%;
			overflow: hidden;
			padding-right: 5%;
			text-overflow: ellipsis;
			vertical-align: bottom;
			white-space: nowrap;

			& > h4 {
				font-size: inherit;
				overflow: hidden;
				text-overflow: ellipsis;
				vertical-align: bottom;
				white-space: nowrap;
			}
		}
		& > p {
			width: 70%;
		}
	}
}